<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculate Numbers</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>{{the_title}}</h1>
    <div id="results">
        <p>After calculating the numbers: {{num_list}}</p>
        <p>The max number is {{max}}, the average number is {{average}} and the standard deviation is {{std_deviation}}</p>
    </div>
    <a id="back" href="/">Go back</a>
</body>
</html>