<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jon's Math App</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Jon's Web Calculator</h1>

    <form action="/calculate" method="POST">
        <div id="form">
            <label for="textbox">Enter numbers separated by a ',' comma:</label>
            <textarea name="numbers"></textarea>
            <button type="submit">Calculate!</button>
        </div>
        
    </form>
</body>
</html>